---
- name: Install php
  apt:
    name: "{{ item }}"
    # state: latest
  loop:
    - php
    - php-curl
    - php-gd
    - php-xml
    - php-mysql
    - php-pear
    - libyaml-dev
    - libapache2-mod-php
    # resolve composer errors
    - php-bcmath
    - php-mbstring

- name: enable php-mcrypt config
  shell: phpenmod mcrypt;
  notify:
    - restart apache
